In [1]:
import pandas as pd

data = pd.read_csv('teachers_recommendation_dataset.csv')
data.head()

,Teacher_ID,Primary_Subject,Secondary_Subject,Education_Level,Years_of_Experience,Teaching_Style,Certifications,Availability,Language,Student_Rating,Courses_Taught,Is_Research_Active
0,T001,Biology,Biology,Masters,22,Hybrid,TESOL,Full-time,French,4.42,48,False
1,T002,Mathematics,History,Masters,15,Hybrid,PGCE,Full-time,French,4.39,17,True
2,T003,Geography,English,PhD,1,Lecture-based,PGCE,Visiting,German,4.65,36,False
3,T004,Computer Science,Computer Science,Bachelors,3,Interactive,PGCE,Part-time,English,3.37,37,True
4,T005,Philosophy,History,PhD,2,Project-based,M.Ed,Part-time,English,4.44,49,True

In [2]:
data.shape

(300, 12)

In [3]:
data.describe()

       Years_of_Experience  Student_Rating  Courses_Taught
count           300.000000      300.000000      300.000000
mean             16.296667        4.018867       28.196667
std               8.636974        0.606958       13.240179
min               1.000000        3.000000        5.000000
25%               9.750000        3.490000       16.000000
50%              16.000000        3.990000       29.000000
75%              24.000000        4.560000       40.000000
max              30.000000        4.990000       50.000000

In [4]:
data.isnull().sum()

Teacher_ID              0
Primary_Subject         0
Secondary_Subject       0
Education_Level         0
Years_of_Experience     0
Teaching_Style          0
Certifications         58
Availability            0
Language                0
Student_Rating          0
Courses_Taught          0
Is_Research_Active      0
dtype: int64

In [5]:
data.fillna('Unknown', inplace=True)

In [6]:
from sklearn.preprocessing import OneHotEncoder

categorical_cols = ['Primary_Subject', 'Secondary_Subject', 'Education_Level', 
                    'Teaching_Style', 'Certifications', 'Availability', 'Language']

data_encoded = pd.get_dummies(data, columns=categorical_cols)

data_encoded['Is_Research_Active'] = data_encoded['Is_Research_Active'].astype(int)

In [7]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
num_cols = ['Years_of_Experience', 'Student_Rating', 'Courses_Taught']

data_encoded[num_cols] = scaler.fit_transform(data_encoded[num_cols])

In [8]:
course_profile = {
    'Primary_Subject_Physics': 1,
    'Secondary_Subject_Mathematics': 1,
    'Education_Level_PhD': 1,
    'Teaching_Style_Lecture-based': 1,
    'Certifications_PGCE': 1,
    'Availability_Full-time': 1,
    'Language_English': 1,
    'Years_of_Experience': scaler.transform([[10]])[0][0],  # scaled value
    'Student_Rating': scaler.transform([[4.5]])[0][0],
    'Courses_Taught': scaler.transform([[20]])[0][0],
    'Is_Research_Active': 1
}

import numpy as np

all_features = data_encoded.columns.drop('Teacher_ID')
query_vector = np.array([course_profile.get(col, 0) for col in all_features])

C:\Users\Ken\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

ValueError: X has 1 features, but MinMaxScaler is expecting 3 features as input.