In [12]:
import pandas as pd
df = pd.read_csv('modified.csv')
df

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [13]:
df.loc[df['Type 1'] == 'Grass']

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
48,48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
719,719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
720,720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
740,740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

In [36]:
#newdf = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70 )]
#newdf.to_csv("hp80.csv")
#newdf.reset_index(drop=True, inplace=True)
#newdf
#df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')]
import re

#df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]
newdf = df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]
newdf

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

In [35]:
newdf.to_csv("hp80.csv")